@import "colors_theme";
@import "typography";
@import "style";

.toast {
  position: absolute;
  bottom: 2%;
  right: 1%;
  color: black;
  margin-top: 400px;

  strong {
    margin-right: 10px;
  }

  p {
    color: black;
    font-size: 15px;
  }

  button {
    color: black;
    
    span {

      .sr-only {
        display: hide;
      }
    }
    
  }
  
  .toast-header {
    color: red;
    
  }
}
