$bg-primary: #0d1055;
$bg-secundary: #2FA6CC;
$ellipse-primary: #b28cca;
$ellipse-secondary: #747dd2;
$button-bg: #0d1055;
$button-font-color: #fed737;
$positive-color: #1ec65c;
$warning-color: #ff5345;
$invalid-color: #f4cf43;
$allowed-color: #f4820a;
$widgets-bg: #20286b;
$search-color: #47babd;
$font-primary: #ffffff;
$grey-color-text: #c2c2c2;
$font-secondary: #000000;

