$bg-primary: #0D1055;
$ellipse-primary: #B28CCA;
$ellipse-secondary: #747DD2;
$button-bg: #0D1055;
$button-font-color: #FED737;
$positive-color: #1EC65C;
$warning-color: #FF5345;
$invalid-color: #F4CF43;
$allowed-color: #F4820A;
$widgets-bg: #20286B;
$search-color: #47BABD;
$font-primary: #FFFFFF;
$grey-color-text: #C2C2C2;

