@import "colors_theme";
@import "typography";
@import "style";

$border: 4%;
$margin: 20px;

/*
 * Operator Details
 */
.detailOperatorContainer {
  width: 100vw;
  height: 100vh;

  .button {
    padding: 5px 17px;
    font-family: "Poppins", sans-serif;
    background-color: $button-bg;
    font-size: 25px;
    color: #fff;
    height: 45px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 1042px;
    .btn-content {
      display: flex;
      justify-content: center;
      p {
        font-size: 20px;
      }
    }
  }

  .headerDiv {
    display: flex;
    flex-direction: row;
    align-items: right;
    margin-left: 8%;

    .titleH {
      margin: 35px;
      font-size: 40px;
      font-weight: 300;
      color: $bg-primary;
    }
  }

  .allDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .details-container {
      margin-top: 40px;
    }

    .operatorDetails {
      display: flex;
      justify-content: center;
      flex-direction: row;
      background-color: rgba($color: $font-primary, $alpha: 0.4);
      border-radius: 5px;
      padding-bottom: 30px;
      margin-bottom: 20px;

      h2 {
        color: $bg-primary;
        margin: 14px;
      }

      h3 {
        color: $font-secondary;
        margin: 14px;
      }

      h4 {
        color: $font-secondary;
        margin: 12px;
        text-align: right;
      }

      .staticDetails {
        
        h4 {
          text-align: left;
          font-weight: 900;
        }

        .column-names {
          color: black;
          font-weight: 900;
        }
      }

      .changingDetails {
        h4 {
          text-align: right;
        }
      }
    }

    .allSmallDetails {
      h2 {
        color: $bg-primary;
        margin: 14px;
      }


      .linked {
        background-color: rgba($color: $font-primary, $alpha: 0.4);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0 0 34px 30px;
        min-width: 200px;
        min-height: 30%;
      }

    }
  }
}

