@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./img/background.svg") repeat center center/cover;
  width: 100vw;
  height: 100vh;
}

.filterDiv {
  position: absolute;
  top: 0px;
  width: 300px;
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  right: 0;
  display: none;
}

.filterDiv h2,
.filterDiv h3,
.filterDiv p,
.filterDiv ul,
.filterDiv li {
  color: #0d1055;
  margin: 14px;
  list-style: none;
  cursor: pointer;
}

.filterDiv h2 {
  font-size: 20px;
  min-width: 100px;
}

.filterDiv .keys .keys-wrapper {
  min-height: 400px;
  overflow: hidden;
}

.filterDiv .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterDiv .Header .back-icon {
  color: #0d1055;
  cursor: pointer;
  font-size: 30px;
  margin-right: 10px;
}

.filterDiv .Header .iconSearch {
  margin-left: 10px;
  color: #0d1055;
  cursor: pointer;
  font-size: 25px;
}

.filterDiv .input-container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.filterDiv .input-container .header-container {
  display: flex;
  flex-direction: row;
}

.filterDiv .input-container .header-container .header-content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.filterDiv .add-btn {
  background-color: #0d1055;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  margin: auto;
}

.filterDiv .options {
  color: #0d1055;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.filterDiv .options .text-input {
  padding: 5px;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
}

.filterDiv .options .text-input::placeholder {
  color: #c2c2c2;
}

.filterDiv .options .text-input:focus {
  outline-color: #0d1055;
}

.filterDiv .options .threshold {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.filterDiv .options .threshold input {
  margin: 0px 8px;
  -webkit-appearance: none;
  opacity: 0.7;
  outline: none;
  background: #d3d3d3;
  width: 100%;
  height: 10px;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 5px;
}

.filterDiv .options .threshold input::-webkit-slider-thumb {
  /* Override default look */
  appearance: none;
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  background: #0d1055;
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 100vw;
    height: 100vh;
  }
}
/*# sourceMappingURL=Filter.css.map */