@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./img/background.png") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
}

.filterDiv {
  position: fixed;
  width: 400px;
  height: 920px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 10px;
  right: -400px;
}

.filterDiv h2, .filterDiv h3, .filterDiv p {
  color: #0D1055;
  margin: 14px;
}

.filterDiv .iconSearch {
  font-size: 42px;
  color: black;
  margin: 14px;
}

.filterDiv .iconCalander {
  margin-bottom: 2px;
}

.filterDiv .allFiltersDiv {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: left;
  margin: 14px;
}

.filterDiv .allFiltersDiv .closeFilterA:hover {
  color: #FED737;
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 100vw;
    height: 100vh;
  }
}
