@import "colors_theme";
@import "typography";
@import "style";

$margin: 14px;

.filterDiv {
  position: absolute;
  top: 0px;
  width: 300px;
  height: 100vh;
  background-color: $font-primary;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  right: 0;
  display: none;

  h2,
  h3,
  p,
  ul,
  li {
    color: $bg-primary;
    margin: $margin;
    list-style: none;
    cursor: pointer;
  }

  h2 {
    font-size: 20px;
    min-width: 100px;
  }

  .keys {
    .keys-wrapper {
      min-height: 400px;
      overflow: hidden;
    }
  }

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back-icon {
      color: $bg-primary;
      cursor: pointer;
      font-size: 30px;
      margin-right: 10px;
    }
    .iconSearch {
      margin-left: 10px;
      color: $bg-primary;
      cursor: pointer;
      font-size: 25px;
    }
  }

  .input-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

    .header-container {
      display: flex;
      flex-direction: row;

      .header-content {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    }
  }

  .add-btn {
    background-color: $bg-primary;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    margin: auto;
  }

  .options {
    color: $bg-primary;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .text-input {
      padding: 5px;
      border: solid 1px $grey-color-text;
      border-radius: 5px;
      &::placeholder {
        color: $grey-color-text;
      }
      &:focus {
        outline-color: $bg-primary;
      }
    }

    .threshold {
      display: flex;
      margin-top: 30px;
      align-items: center;

      input {
        margin: 0px 8px;
        -webkit-appearance: none;
        opacity: 0.7;
        outline: none;
        background: #d3d3d3;
        width: 100%;
        height: 10px;
        -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
        transition: opacity 0.2s;
        border-radius: 5px;

        &::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          width: 20px; /* Set a specific slider handle width */
          height: 20px; /* Slider handle height */
          background: $bg-primary;
          cursor: pointer; /* Cursor on hover */
          border-radius: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 100vw;
    height: 100vh;
  }
}
