@import "colors_theme";
@import "typography";
@import "style";

button {
  display: block;
  padding: 10px;
  background: none;
  outline: none;
  font: inherit;
  color: $font-primary;
  border: none;
  cursor: pointer;
  text-align: left;
}

.menu-container {
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  background-color: $bg-primary;
  opacity: 1;
  border-radius: 10px;
  padding-right: 20px;

  button {
    background: none;
    outline: none;
    font: inherit;
    color: $font-primary;
    border: none;
    cursor: pointer;
    text-align: left;

    &:hover {
      opacity: 0.8;
    }

    .flag {
      max-width: 20px;
      margin-right: 10px;
    }
  }
}

.world-icon {
  min-width: 40px;
  min-height: 40px;
  color: $bg-primary;
}
