@import "colors_theme";
@import "typography";
@import "style";

button {
  display: block;
  padding: 10px;
  background: none;
  outline: none;
  font: inherit;
  color: $font-primary;
  border: none;
  cursor: pointer;
  text-align: left;
}

.menu-container {
  position: absolute;
  left: 80px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: #0d1055;
  border-radius: 10px;
  padding-right: 20px;
  border: solid 2px;

  button {
    background: none;
    outline: none;
    font: inherit;
    color: $font-primary;
    border: none;
    cursor: pointer;
    text-align: left;

    &:hover {
      opacity: 0.8;
    }

    .flag {
      max-width: 20px;
      margin-right: 10px;
    }
  }
}

.world-parent {
  color: white;
  svg {
    color: white;
  }
  .world-icon {
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
    fill: white;
  }
}
