@import "colors_theme";
@import "typography";
@import "style";

$transition: 0.4s;
$margin: 20px;

.menu {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 440px;
  background-color: $bg-primary;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  transition: all 0.25s ease;
  visibility: hidden;
  
    .closeButtonDiv { 
        a {
            text-decoration: none;
            color: $font-primary;
            font-size: 42px;
            margin: 10px;
            margin-left: 390px;
            transition: $transition;
        }  
        a:hover {
          color: $button-font-color;
        }
    }

  .profileInfo {
    text-align: center;

      img {
          width: 200px;
          height: 200px;
          margin-top: 30px;
          margin-bottom: 30px;
      }

      .dashboard {
        a {
          text-decoration: none;
          color: $font-primary;
          display: flex;
          text-align: left;
          margin: $margin;
          margin-bottom: 50px;
          transition: $transition;
            .iconHome {
              font-size: 36px;
              margin-right: 10px;
          }
        }
        a:hover {
          color: $button-font-color;
        }
      }
  
      .searchOperators {
        a{
          text-decoration: none;
          color: $font-primary;
          display: flex;
          text-align: left;
          margin: $margin;
          transition: $transition;
          .iconOperators {
              font-size: 36px;
              margin-right: 10px;
          }
        }
        a:hover {
          color: $button-font-color;
        }
      }
  
      .searchDrones {
        a{
          text-decoration: none;
          color: $font-primary;
          display: flex;
          text-align: left;
          margin: $margin;
          transition: $transition;
          .iconDrones {
              font-size: 36px;
              margin-right: 10px;
          }
        }
        a:hover {
          color: $button-font-color;
        }
      }
    
      .searchPilots {
        a{
          text-decoration: none;
          color: $font-primary;
          display: flex;
          text-align: left;
          margin: $margin;
          transition: $transition;
          .iconPilots {
              font-size: 36px;
              margin-right: 10px;
          }
        }
        a:hover {
          color: $button-font-color;
        }
      }
    
      .settings {
        a{
          text-decoration: none;
          color: $font-primary;
          display: flex;
          text-align: left;
          margin: $margin;
          margin-top: 150px;
          transition: $transition;
          .iconSettings {
              font-size: 36px;
              margin-right: 10px;
          }
        }
        a:hover {
          color: $button-font-color;
        }
      }
    
      .signOut {
        a{
          text-decoration: none;
          color: $font-primary;
          display: flex;
          text-align: left;
          margin: $margin;
          transition: $transition;
          .iconSignOut {
              font-size: 36px;
              margin-right: 10px;
          }
        }
        a:hover {
          color: $button-font-color;
        }
      }

  }

}

.active {
  opacity:1;
  visibility: visible;
  transition: all 0.25s ease;
}
