@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 440px;
  background-color: #0D1055;
  opacity: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: -440px;
}

.menu .closeButtonDiv a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 42px;
  margin: 10px;
  margin-left: 390px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .closeButtonDiv a:hover {
  color: #FED737;
}

.menu .profileInfo {
  text-align: center;
}

.menu .profileInfo img {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu .profileInfo .dashboard a {
  text-decoration: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 20px;
  margin-bottom: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .profileInfo .dashboard a .iconHome {
  font-size: 36px;
  margin-right: 10px;
}

.menu .profileInfo .dashboard a:hover {
  color: #FED737;
}

.menu .profileInfo .searchOperators a {
  text-decoration: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .profileInfo .searchOperators a .iconOperators {
  font-size: 36px;
  margin-right: 10px;
}

.menu .profileInfo .searchOperators a:hover {
  color: #FED737;
}

.menu .profileInfo .searchDrones a {
  text-decoration: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .profileInfo .searchDrones a .iconDrones {
  font-size: 36px;
  margin-right: 10px;
}

.menu .profileInfo .searchDrones a:hover {
  color: #FED737;
}

.menu .profileInfo .searchPilots a {
  text-decoration: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .profileInfo .searchPilots a .iconPilots {
  font-size: 36px;
  margin-right: 10px;
}

.menu .profileInfo .searchPilots a:hover {
  color: #FED737;
}

.menu .profileInfo .settings a {
  text-decoration: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 20px;
  margin-top: 150px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .profileInfo .settings a .iconSettings {
  font-size: 36px;
  margin-right: 10px;
}

.menu .profileInfo .settings a:hover {
  color: #FED737;
}

.menu .profileInfo .signOut a {
  text-decoration: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu .profileInfo .signOut a .iconSignOut {
  font-size: 36px;
  margin-right: 10px;
}

.menu .profileInfo .signOut a:hover {
  color: #FED737;
}

.active {
  opacity: 1;
  left: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*
 * Arrow Button
 */
.buttonDiv .arrowButton {
  background-color: #0D1055;
  border: none;
  width: 40px;
  height: 44px;
  margin-top: 30px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.buttonDiv .arrowButton a {
  text-decoration: none;
  color: white;
  font-size: 42px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttonDiv .arrowButton a:hover {
  color: #FED737;
}

/*
* End Arrow Button
*/
/*# sourceMappingURL=menu.css.map */