@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./img/background.svg") repeat center center/cover;
  width: 100vw;
  height: 100vh;
}

.reports {
  margin: 50px auto;
}

.reports h1 {
  color: #0d1055;
  margin-bottom: 20px;
}

.reports .details-container {
  display: grid;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  border-radius: 20px;
  padding: 20px 40px;
}

.reports .details-container .left-key {
  float: left;
  font-weight: bold;
  min-width: 50px;
}

.reports .details-container .right-value {
  float: right;
  max-width: 400px;
}
